* {
  font-family: "Tahoma", monospace;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  user-select: none;
}

body {
  box-sizing: border-box;
  overflow: hidden !important;
  background: url(../assets/images/bliss.jpg);
  background-size: fill;
  background-repeat: no-repeat;
  background-color: #ECE9D8;
  min-height: 100px;
}

.icon {
  color: white;
  width: 80px;
  cursor: pointer;
  margin: 8px 0;
  padding: 5px;
  border: 1px solid transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #99d1ff00;
  border-color: #99d1ff00;
}

.move {
  position: absolute;
}

#cmd-container {
  position: absolute;
  left: 22%;
  top: 62%;
  -webkit-transform: translate(-22%, -62%);
  transform: translate(-22%, -62%);
  z-index: 3;
}

#network-container {
  position: absolute;
  left: 33%;
  top: 24%;
  -webkit-transform: translate(-33%, -24%);
  transform: translate(-33%, -24%);
  z-index: 2;
}

#projects-container {
  position: absolute;
  left: 63%;
  top: 76%;
  -webkit-transform: translate(-63%, -76%);
  transform: translate(-63%, -76%);
  z-index: 1;
}

#browser-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}

#network-container .window .window-body {
  padding: 0 20px;
}

#browser-container .window-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
}

.taskbar {
  background-color: #245EDC;
  background: linear-gradient(to bottom, #245EDC 0%, #3f8cf3 9%, #245EDC 18%, #245EDC 92%, #1941A5 100%) center/cover no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
  position: fixed;
  z-index: 1001;
}

.start-button {
  color: white;
  height: 100%;
  float: left;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  font-style: italic;
  background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover no-repeat;
  box-shadow: 0px 5px 10px #79ce71 inset, 4px 0 8px #3f8cf3;
  padding: 2px 25px 6px 10px;
  text-shadow: 1px 1px 3px #222;
  border-radius: 0px 8px 8px 0px;
  margin-right: 16px;
  cursor: pointer;
}

.start-button img {
  height: 20px;
  filter: drop-shadow(1px 1px 1px #222);
  transform: translateY(4px);
}

.opened-tabs {
  width: calc(100% - 225px);
  float: left;
}

.open-tab {
  color: white;
  width: 150px;
  height: 26px;
  margin: 3px 0;
  float: left;
  background-color: #4892F7;
  background: url(../assets/images/btn1.png) no-repeat 0 0;
  border: 1px solid #306FD9;
  border-radius: 2px;
  font-family: calibri, monospace;
  font-size: 14px;
  line-height: 14px;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
  cursor: pointer;
}

.open-tab:hover {
  background: url(../assets/images/btn2.png) no-repeat 0 0;
}

.open-tab:active {
  background: url(../assets/images/btn3.png) no-repeat 0 0;
}

.open-tab img {
  height: 18px;
  float: left;
  transform: translateY(-3px);
  margin-right: 5px;
}

.time {
  color: white;
  height: 100%;
  float: right;
  font-size: 14px;
  line-height: 13px;
  background: linear-gradient(to bottom, #1290E9 0%, #19B9F3 9%, #1290E9 18%, #1290E9 92%, #1941A5 100%) center/cover no-repeat;
  box-shadow: 0px 5px 10px #14A5F0 inset, 0px 5px 10px #333333;
  padding: 9px 15px 9px 25px;
  border-left: 1px solid #092E51;
  text-shadow: 1px 1px 2px #222;
  cursor: pointer;
  text-transform: uppercase;
  position: fixed;
  right: 0;
}

@media (max-width:825px) {
  .taskbar .open-tab {
    width: 100px;
  }
}

@media (max-width:625px) {
  .taskbar .open-tab {
    color: transparent;
    width: 70px;
  }
}

@media (max-width:505px) {
  .taskbar .open-tab {
    width: 50px;
  }
}

@media (max-width:360px) {
  .taskbar .open-tab {
    width: 35px;
  }
}

@media (max-width:345px) {
  .taskbar .start-button {
    display: none;
  }

  .taskbar .open-tab {
    width: 35px;
  }
}